* {
    box-sizing: border-box;
}

/* nav en horizontal usando flex */
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
    list-style-type: none;
}

nav li {
    flex-grow: 1;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

h1 {
    text-align: center;
}
#destacados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: grey;
}

#destacados div {
    width: 33%;
    padding: 5px;
    border: 1px solid black;
}

.destacada-izq{
    /*  distribicion de elementos en una columna uniformemente (filas iguales ) */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destacada-izq article {
    padding: 5px;
    border: 1px solid black;
    min-height: 45%;
}

/* NOTICIAS GENERALES (MAIN)*/
#generales {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    color: black;
    background-color: #f1f1f1;
}

.columnas-main {
    flex: 1;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e0e0e0; 
    padding: 5px;
    border-radius: 10px;
    height: auto; 
}    

.columnas-main h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
}

.cripto-news, .tecnologia-news, .ciber-news {
    background-color: #f4f4f4;
    padding: 30px;
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    height: 100%; 
    max-height: 500px;
}

.cripto-news img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.cripto-news h3, .tecnologia-news h3, .ciber-news h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.cripto-news p, .tecnologia-news p, .ciber-news p {
    font-size: 1em;
    line-height: 1.4;
}

/* FOOTER */
footer { /* Estilos del footer */
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 40px;
    color: black;
}

h3 {
    margin-top: 0;
}

.footer-contenedor { /* Contenedor para todo el footer */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contactos-nosotros { /* Contenedores para Contactos y ¿Quienes Somos? */
    width: 45%; 
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listas-none{
    list-style: none;
}

.redes { /* Contenedor para "Redes Sociales" */
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;  
}

.redes ul {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 0% 33%;
}

#copyright { /* Sección Copyright */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 13px;
}
