* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #d6d2d2;
  }
h1 {
    text-align: center;
    padding: 1em;
  }

  .scroller {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    gap: 2rem;
    border: 1px solid lime;
    background-color: black;
    color: white;
    padding: 10px;
  }


.scroller ul{ 
  list-style: none;
  display: flex;
  min-width: 100%;
  gap: 1.5rem;
  justify-content: space-between;
  animation: scroll 20s linear infinite;
}

.scroller:hover ul{
  animation-play-state: paused;
}

.scroller ul:first-child {
  /* background-color: yellow !important;*/
}

.scroller ul:last-child {
  /* background-color: blue !important; */
}



@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 1rem));
  }
  
}

.test {
  background-color: red !important;
}